<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Практическая работа 5</title>
    <link rel="stylesheet" href="css/answer.css" type="text/css">
    <style>
        body {
            background-color: white;
            text-align: center;
        }
        h1, h2, p {
            color: #000000;
        }
        .outer {
            max-width: 100%;
            display: flex;
            justify-content: center;
        }

    </style>
</head>
<body>
    <h1>Практическая работа 5</h1>
    <h2>Выполнил Потемкин Александр ИКБО-07-20</h2>
    <div class="outer">
            <p th:text="${info}"></p>
    </div>
</body>
</html>